# Editor
*~
*.swp
.DS_Store
# Build files
Prj-Linux/lpr/TEST_*
Prj-Linux/hyperlpr/TEST_*
Prj-Linux/hyperlpr/tests
Prj-Linux/*build*/
*.pyc
/Prj-PHP/build
/Prj-Linux/cmake-3.10.3/
/Prj-Linux/opencv-3.4.11/
